@import url(./admin.css);
@import url(./display.css);
@import url(./mobile.css);
@import url(./reset.css);

.global-css {
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    width: 100%;
    display: block;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-top: 1px solid whitesmoke;
    line-height: 60px;
    height: 60px;
}

.footer-button {
    right: 50px;
    position: absolute;
}

.layui-layer-content {
    white-space: pre-wrap;
}
