<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.notice.mapper.SysNoticeMapper">
    <select id="findPublishedAnnouncement" resultType="com.freesia.notice.entity.FindPublishedAnnouncementEntity">
        SELECT SN.ID,
               SN.REC_VER,
               SN.CONTENT,
               SDV.VALUE_NAME AS TYPE_NAME
        FROM sys_notice sn
                 LEFT JOIN sys_dict_value sdv on sdv.DICT_KEY = 'SYS_NOTICE_TYPE' AND SDV.VALUE = SN.TYPE

        WHERE 1 = 1
          AND SN.LOGIC_DEL = 0
          AND SN.TYPE = 'ANNOUNCEMENT'
          AND SN.USER_ID IS NULL
          AND SN.EFFECTIVE_TIME_FROM IS NULL
          AND SN.EFFECTIVE_TIME_TO IS NULL

        union all

        SELECT SN.ID,
               SN.REC_VER,
               SN.CONTENT,
               SDV.VALUE_NAME AS TYPE_NAME
        FROM sys_notice SN
                 LEFT JOIN sys_dict_value sdv on sdv.DICT_KEY = 'SYS_NOTICE_TYPE' AND SDV.VALUE = SN.TYPE
        WHERE 1 = 1
          AND SN.LOGIC_DEL = 0
          AND SN.TYPE = 'ANNOUNCEMENT'
          AND SN.USER_ID IS NULL
          AND SN.EFFECTIVE_TIME_FROM IS NOT NULL
          AND SN.EFFECTIVE_TIME_TO IS NOT NULL
          and NOW() BETWEEN SN.EFFECTIVE_TIME_FROM AND SN.EFFECTIVE_TIME_TO

        UNION ALL

        SELECT SN.ID,
               SN.REC_VER,
               SN.CONTENT,
               SDV.VALUE_NAME AS TYPE_NAME
        FROM sys_notice SN
                 LEFT JOIN sys_dict_value sdv on sdv.DICT_KEY = 'SYS_NOTICE_TYPE' AND SDV.VALUE = SN.TYPE
        WHERE 1 = 1
          AND SN.LOGIC_DEL = 0
          AND SN.TYPE = 'ANNOUNCEMENT'
          AND SN.USER_ID IS NULL
          and SN.EFFECTIVE_TIME_FROM IS NOT NULL
          AND SN.EFFECTIVE_TIME_TO IS NULL
          AND NOW() <![CDATA[>=]]> SN.EFFECTIVE_TIME_FROM
    </select>
    <sql id="findPageSysNotice">
        SELECT
        SN.ID,
        SN.CREATOR,
        SN.CREATE_TIME,
        SN.MODIFIER,
        SN.MODIFY_TIME,
        SN.LOGIC_DEL,
        SN.REC_VER,
        SN.BUILD_IN,
        SN.TENANT_ID,
        SN.TITLE,
        SN.TYPE,
        SN.EFFECTIVE_TIME_FROM,
        SN.EFFECTIVE_TIME_TO,
        SN.CONTENT,
        SN.PUBLISHER_ID,
        SN.REMARK,
        SU.NICK_NAME AS PUBLISHER_NAME,
        SN.USER_ID,
        SN.CATEGORY,
        SN.READ_FLAG,
        SN.EXCERPT,
        SN.ANNOUNCEMENT_ID
        FROM sys_notice sn
        LEFT JOIN sys_user su on su.id = sn.PUBLISHER_ID
        WHERE 1 = 1
        AND SN.LOGIC_DEL = 0
        <if test="sysNoticeDto.userId != null and sysNoticeDto.userId != 0">
            AND SN.USER_ID = #{sysNoticeDto.userId}
        </if>
        <if test="sysNoticeDto.id != null and sysNoticeDto.id != 0">
            AND SN.ID = #{sysNoticeDto.id}
        </if>
        <if test="sysNoticeDto.type != null and sysNoticeDto.type != ''">
            AND SN.TYPE = #{sysNoticeDto.type}
        </if>
        <if test="sysNoticeDto.createTimeFrom != null and sysNoticeDto.createTimeTo != null">
            AND SN.CREATE_TIME BETWEEN #{sysNoticeDto.createTimeFrom} AND #{sysNoticeDto.createTimeTo}
        </if>
        order by SN.ID desc
    </sql>
    <select id="findPageSysNotice" resultType="com.freesia.notice.entity.FindPageSysNoticeEntity">
        <include refid="findPageSysNotice"/>
    </select>
    <select id="findUnreadCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_notice SN
        WHERE 1=1
        AND SN.LOGIC_DEL = 0
        AND SN.READ_FLAG = 0
        <if test="sysNoticeDto.userId != null and sysNoticeDto.userId != 0">
            AND SN.USER_ID = #{sysNoticeDto.userId}
        </if>
        <if test="sysNoticeDto.type != null and sysNoticeDto.type != ''">
            AND SN.TYPE = #{sysNoticeDto.type}
        </if>
        <if test="sysNoticeDto.createTimeFrom != null and sysNoticeDto.createTimeTo != null">
            AND SN.CREATE_TIME BETWEEN #{sysNoticeDto.createTimeFrom} AND #{sysNoticeDto.createTimeTo}
        </if>
    </select>
    <select id="findListSysNotice" resultType="com.freesia.notice.entity.FindPageSysNoticeEntity">
        <include refid="findPageSysNotice"/>
    </select>
    <select id="findExistsAnnouncement" resultType="java.lang.Long">
        SELECT ID
        FROM sys_notice SN
        where 1=1
        AND SN.LOGIC_DEL = 0
        AND SN.TYPE = 'ANNOUNCEMENT'
        AND SN.USER_ID = #{sysNoticeDto.userId}
        <if test="sysNoticeDto.announcementIdList != null and sysNoticeDto.announcementIdList.size() > 0">
            AND SN.ANNOUNCEMENT_ID IN
            <foreach collection="sysNoticeDto.announcementIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
