<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountCostMapper">
    <select id="findPageAccountCost" resultMap="findPageAccountCostResultMap">
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        LEFT JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID = #{accountCost.userId}
        AND AC.TENANT_ID = #{accountCost.tenantId}
        <if test="accountCost.costDesc != null and accountCost.costDesc != ''">
            AND AC.COST_DESC like CONCAT('%', #{accountCost.costDesc}, '%')
        </if>
        <if test="accountCost.remark != null and accountCost.remark != ''">
            AND AC.REMARK LIKE ('%', #{accountCost.remark}, '%')
        </if>
        <if test="accountCost.paymentSign != null and accountCost.paymentSign != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTimeFrom != null and accountCost.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCost.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCost.paymentTimeTo}
        </if>
        <if test="@com.freesia.util.UEmpty@isNotEmpty(accountCost.costTypeList)">
            AND AC.COST_TYPE IN
            <foreach collection="accountCost.costTypeList" item="item" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        <if test="@com.freesia.util.UEmpty@isNotEmpty(accountCost.accountCostUserIdList)">
            AND ACU.USER_ID IN
            <foreach collection="accountCost.accountCostUserIdList" item="item" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        INNER JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.TENANT_ID = #{accountCost.tenantId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        <if test="accountCost.costDesc != null and accountCost.costDesc != ''">
            AND AC.COST_DESC like CONCAT('%', #{accountCost.costDesc}, '%')
        </if>
        <if test="accountCost.remark != null and accountCost.remark != ''">
            AND AC.REMARK LIKE ('%', #{accountCost.remark}, '%')
        </if>
        <if test="accountCost.paymentSign != null and accountCost.paymentSign != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTime != null and accountCost.paymentTime != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTimeFrom != null and accountCost.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCost.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCost.paymentTimeTo}
        </if>
        <if test="@com.freesia.util.UEmpty@isNotEmpty(accountCost.costTypeList)">
            AND AC.COST_TYPE IN
            <foreach collection="accountCost.costTypeList" item="item" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        <if test="@com.freesia.util.UEmpty@isNotEmpty(accountCost.accountCostUserIdList)">
            AND ACU.USER_ID IN
            <foreach collection="accountCost.accountCostUserIdList" item="item" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        GROUP BY AC.ID
        ORDER BY PAYMENT_TIME DESC, MODIFY_TIME DESC
    </select>
    <select id="findAccountCost" resultMap="findAccountCostResultMap">
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        LEFT JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID = #{accountCost.userId}
        AND AC.TENANT_ID = #{accountCost.tenantId}
        <if test="accountCost.id != null and accountCost.id != 0">
            AND AC.ID = #{accountCost.id}
        </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        INNER JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.TENANT_ID = #{accountCost.tenantId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        <if test="accountCost.id != null and accountCost.id != 0">
            AND ACU.COST_ID = #{accountCost.id}
        </if>
        GROUP BY AC.ID
    </select>
    <resultMap id="findAccountCostResultMap" type="com.freesia.account.entity.FindAccountCostEntity">
        <id property="id" column="ID"/>
        <result property="creator" column="CREATOR"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="logicDel" column="LOGIC_DEL"/>
        <result property="recVer" column="REC_VER"/>
        <result property="buildIn" column="BUILD_IN"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="costDesc" column="COST_DESC"/>
        <result property="outlay" column="OUTLAY"/>
        <result property="costType" column="COST_TYPE"/>
        <result property="paymentSign" column="PAYMENT_SIGN"/>
        <result property="paymentTime" column="PAYMENT_TIME"/>
        <result property="icon" column="ICON"/>
        <result property="remark" column="REMARK"/>
        <result property="userId" column="USER_ID"/>
        <result property="acNickName" column="AC_NICK_NAME"/>
        <result property="accountCostUserId" column="SU_ID"/>
        <result property="accountCostUserName" column="NICK_NAME"/>
    </resultMap>
    <resultMap id="findPageAccountCostResultMap" type="com.freesia.account.entity.FindPageAccountCostEntity">
        <id property="id" column="ID"/>
        <result property="creator" column="CREATOR"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="logicDel" column="LOGIC_DEL"/>
        <result property="recVer" column="REC_VER"/>
        <result property="buildIn" column="BUILD_IN"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="costDesc" column="COST_DESC"/>
        <result property="outlay" column="OUTLAY"/>
        <result property="costType" column="COST_TYPE"/>
        <result property="paymentSign" column="PAYMENT_SIGN"/>
        <result property="paymentTime" column="PAYMENT_TIME"/>
        <result property="icon" column="ICON"/>
        <result property="remark" column="REMARK"/>
        <result property="userId" column="USER_ID"/>
        <result property="acNickName" column="AC_NICK_NAME"/>
        <result property="accountCostUserId" column="SU_ID"/>
        <result property="accountCostUserName" column="NICK_NAME"/>
    </resultMap>
    <select id="findListAccountsExport" resultType="com.freesia.account.entity.AccountCostExportEntity">
        SELECT T.COST_DESC,
        T.OUTLAY,
        T.COST_TYPE,
        T.PAYMENT_SIGN,
        T.PAYMENT_SIGN_NAME,
        T.PAYMENT_TIME,
        T.ICON,
        T.REMARK,
        T.CREATE_TIME,
        T.PAYMENT_TIME_GROUPING_KEY
        FROM (SELECT AC.COST_DESC,
        ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        SDV.VALUE_NAME AS PAYMENT_SIGN_NAME,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.CREATE_TIME,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME_GROUPING_KEY
        FROM account_cost AC
        LEFT JOIN SYS_DICT_VALUE SDV
        ON SDV.DICT_KEY = 'PAYMENT_SIGN'
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.TENANT_ID = #{accountCostDto.tenantId}
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        GROUP BY AC.ID

        UNION ALL

        SELECT AC.COST_DESC,
        ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        SDV.VALUE_NAME AS PAYMENT_SIGN_NAME,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.CREATE_TIME,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME_GROUPING_KEY
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        LEFT JOIN SYS_DICT_VALUE SDV
        ON SDV.DICT_KEY = 'PAYMENT_SIGN'
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.TENANT_ID = #{accountCostDto.tenantId}
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        GROUP BY AC.ID) T
        GROUP BY T.PAYMENT_TIME, T.CREATE_TIME
        ORDER BY T.PAYMENT_TIME, T.CREATE_TIME
    </select>
    <select id="findCostTypeRatePie" resultType="com.freesia.account.entity.FindCostTypeRatePieEntity">
        SELECT
        T.COST_TYPE,
        SUM(T.OUTLAY) AS OUTLAY
        FROM
        (
        SELECT
        AC.COST_TYPE,
        ROUND(
        IFNULL( AC.OUTLAY, 0 ) /
        CASE

        WHEN ( SELECT COUNT( 1 ) FROM account_cost_user ACU WHERE 1 = 1 AND ACU.COST_ID = AC.ID ) = 0 THEN
        1 ELSE ( SELECT COUNT( 1 ) FROM account_cost_user ACU WHERE 1 = 1 AND ACU.COST_ID = AC.ID )
        END,
        2
        ) AS OUTLAY
        FROM
        account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1=1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]>  #{accountCostDto.paymentTimeTo}
        </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT
        AC.COST_TYPE,
        ROUND(
        IFNULL( AC.OUTLAY, 0 ) /
        CASE

        WHEN ( SELECT COUNT( 1 ) FROM account_cost_user ACU WHERE 1 = 1 AND ACU.COST_ID = AC.ID ) = 0 THEN
        1 ELSE ( SELECT COUNT( 1 ) FROM account_cost_user ACU WHERE 1 = 1 AND ACU.COST_ID = AC.ID )
        END,
        2
        ) AS OUTLAY

        FROM
        account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1=1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]>  #{accountCostDto.paymentTimeTo}
        </if>
        GROUP BY AC.ID
        ) T
        GROUP BY T.COST_TYPE

    </select>
    <select id="findWeekCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        WITH RECURSIVE dateseries AS (SELECT CURDATE() AS date
        UNION ALL
        SELECT DATE_SUB(date, INTERVAL 1 DAY)
        FROM dateseries
        WHERE DATE_SUB(date, INTERVAL 1 DAY) <![CDATA[>=]]> DATE_SUB(CURDATE(), INTERVAL 6 DAY))
        SELECT ifnull(SUM(T.OUTLAY), 0) AS OUTLAY,
        ifnull(DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d'), DATE_FORMAT(DS.DATE, '%Y-%m-%d')) AS PAYMENT_TIME,
        IFNULL(
        CONCAT(STR_TO_DATE(T.PAYMENT_TIME, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')'),
        CONCAT(STR_TO_DATE(DS.DATE, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')')
        ) AS X_AXIS
        FROM DateSeries ds
        LEFT JOIN (SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        GROUP BY AC.ID
        UNION ALL
        SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        GROUP BY AC.ID) T
        ON DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d') = ds.date
        LEFT JOIN sys_dict_value SDV ON SDV.DICT_KEY = 'WEEK_DAY'
        AND SDV.VALUE = WEEKDAY(STR_TO_DATE(IFNULL(T.PAYMENT_TIME, DS.DATE), '%Y-%m-%d')) + 1
        GROUP BY ds.date
        ORDER BY DS.DATE
    </select>
    <sql id="findMonthCostLineChartRef">
        SELECT AC.OUTLAY AS OUTLAY,
               AC.PAYMENT_TIME
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
    </sql>
    <select id="findMonthCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        WITH RECURSIVE DATESERIES AS (SELECT CONCAT(#{accountCostDto.year}, '-', LPAD(#{accountCostDto.month}, 2, '0'),
        '-01') AS date
        UNION ALL
        SELECT DATE_ADD(date, INTERVAL 1 DAY)
        FROM DATESERIES
        WHERE DATE_ADD(date, INTERVAL 1 DAY) <![CDATA[<=]]>
        CASE
        WHEN #{accountCostDto.year} = YEAR(CURDATE()) AND
        #{accountCostDto.month} = MONTH(CURDATE())
        THEN CURDATE()
        ELSE LAST_DAY(CONCAT(#{accountCostDto.year}, '-',
        LPAD(#{accountCostDto.month}, 2, '0'),
        '-01'))
        END)
        SELECT ifnull(SUM(T.OUTLAY), 0) AS OUTLAY,
        ifnull(DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d'), DATE_FORMAT(DS.DATE, '%Y-%m-%d')) AS PAYMENT_TIME,
        IFNULL(
        CONCAT(STR_TO_DATE(T.PAYMENT_TIME, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')'),
        CONCAT(STR_TO_DATE(DS.DATE, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')')
        ) AS X_AXIS
        FROM DateSeries ds
        LEFT JOIN (SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        AND MONTH(AC.PAYMENT_TIME) = #{accountCostDto.month}
        GROUP BY AC.ID

        UNION ALL

        SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        AND MONTH(AC.PAYMENT_TIME) = #{accountCostDto.month}
        GROUP BY AC.ID) T
        ON DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d') = ds.date
        LEFT JOIN sys_dict_value SDV ON SDV.DICT_KEY = 'WEEK_DAY'
        AND SDV.VALUE = WEEKDAY(STR_TO_DATE(IFNULL(T.PAYMENT_TIME, DS.DATE), '%Y-%m-%d')) + 1
        GROUP BY ds.date
        ORDER BY DS.DATE
    </select>
    <select id="findYearCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        WITH RECURSIVE DateSeries AS (SELECT CONCAT(#{accountCostDto.year}, '-01-01') AS date
        UNION ALL
        SELECT DATE_ADD(date, INTERVAL 1 DAY)
        FROM DateSeries
        WHERE DATE_ADD(date, INTERVAL 1 DAY) <![CDATA[<=]]>
        CASE
        WHEN #{accountCostDto.year} = YEAR(CURDATE()) THEN CURDATE()
        ELSE CONCAT(#{accountCostDto.year}, '-12-31')
        END)
        SELECT ifnull(SUM(T.OUTLAY), 0) AS OUTLAY,
        ifnull(DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d'), DATE_FORMAT(DS.DATE, '%Y-%m-%d')) AS PAYMENT_TIME,
        IFNULL(
        CONCAT(STR_TO_DATE(T.PAYMENT_TIME, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')'),
        CONCAT(STR_TO_DATE(DS.DATE, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')')
        ) AS X_AXIS
        FROM DateSeries ds
        LEFT JOIN (SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        GROUP BY AC.ID

        UNION ALL

        SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        AC.PAYMENT_TIME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        <if test="accountCostDto.costType != null and accountCostDto.costType != ''">
            AND AC.COST_TYPE = #{accountCostDto.costType}
        </if>
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        GROUP BY AC.ID) T
        ON DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d') = ds.date
        LEFT JOIN sys_dict_value SDV ON SDV.DICT_KEY = 'WEEK_DAY'
        AND SDV.VALUE = WEEKDAY(STR_TO_DATE(IFNULL(T.PAYMENT_TIME, DS.DATE), '%Y-%m-%d')) + 1
        GROUP BY ds.date
        ORDER BY DS.DATE
    </select>
    <select id="findCostSumCalendarNearYear"
            resultType="com.freesia.account.entity.FindCostSumCalendarNearYearEntity">
        SELECT SUM(T.OUTLAY) AS OUTLAY,
        T.PAYMENT_TIME,
        T.X_AXIS
        FROM (SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS X_AXIS
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND AC.USER_ID = #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        GROUP BY AC.ID

        UNION ALL

        SELECT ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS X_AXIS
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCostDto.tenantId != null">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        GROUP BY AC.ID) T
        GROUP BY DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d')
    </select>
    <select id="findWeekRankByCostType" resultType="com.freesia.account.entity.FindRankByCostTypeEntity">
        SELECT T.COST_TYPE,
        T.COST_DESC,
        SUM(T.OUTLAY) AS OUTLAY,
        T.DATE_SIGN,
        DENSE_RANK() OVER (ORDER BY T.DATE_SIGN DESC ) AS RK
        FROM (SELECT AC.COST_TYPE,
        AC.COST_DESC,
        CONCAT(year(AC.PAYMENT_TIME), 'WK', LPAD(WEEK(AC.PAYMENT_TIME, 1), 2, '0')) as DATE_SIGN,
        ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCost.tenantId != null">
            AND AC.TENANT_ID = #{accountCost.tenantId}
        </if>
        AND AC.USER_ID = #{accountCost.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> DATE_SUB(DATE(NOW()), INTERVAL 3 WEEK)
        GROUP BY AC.COST_TYPE,
        AC.PAYMENT_TIME

        UNION ALL

        SELECT AC.COST_TYPE,
        AC.COST_DESC,
        CONCAT(year(AC.PAYMENT_TIME), 'WK', LPAD(WEEK(AC.PAYMENT_TIME, 1), 2, '0')) as DATE_SIGN,
        ROUND(IFNULL(AC.OUTLAY, 0) / CASE

        WHEN (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) = 0 THEN
        1
        ELSE (SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID) END
        , 2) AS OUTLAY
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCost.tenantId != null">
            AND AC.TENANT_ID = #{accountCost.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCost.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> DATE_SUB(DATE(NOW()), INTERVAL 3 WEEK)
        GROUP BY AC.COST_TYPE,
        AC.PAYMENT_TIME) T
        GROUP BY T.COST_TYPE, T.DATE_SIGN
        ORDER BY T.DATE_SIGN DESC, T.OUTLAY DESC
    </select>
    <select id="findMonthRankByCostType" resultType="com.freesia.account.entity.FindRankByCostTypeEntity">
        SELECT T.COST_TYPE,
        T.COST_DESC,
        SUM(T.OUTLAY) AS OUTLAY,
        T.DATE_SIGN,
        DENSE_RANK() OVER (ORDER BY T.DATE_SIGN DESC ) AS RK
        FROM (SELECT AC.COST_TYPE,
        AC.COST_DESC,
        DATE_FORMAT(AC.PAYMENT_TIME, '%y%m') AS DATE_SIGN,
        ROUND(IFNULL(AC.OUTLAY, 0) / IFNULL(NULLIF((SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID), 0), 1)
        , 2) AS OUTLAY
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCost.tenantId != null">
            AND AC.TENANT_ID = #{accountCost.tenantId}
        </if>
        AND AC.USER_ID = #{accountCost.userId}
        AND AC.PAYMENT_TIME >= DATE_SUB(
        DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY),
        INTERVAL 3 MONTH
        )
        GROUP BY AC.COST_TYPE,
        AC.PAYMENT_TIME

        UNION ALL

        SELECT AC.COST_TYPE,
        AC.COST_DESC,
        DATE_FORMAT(AC.PAYMENT_TIME, '%y%m') AS DATE_SIGN,
        ROUND(IFNULL(AC.OUTLAY, 0) / IFNULL(NULLIF((SELECT COUNT(1)
        FROM account_cost_user ACU
        WHERE 1 = 1
        AND ACU.COST_ID = AC.ID), 0), 1)
        , 2) AS OUTLAY
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        <if test="accountCost.tenantId != null">
            AND AC.TENANT_ID = #{accountCost.tenantId}
        </if>
        AND ACU.USER_ID = #{accountCost.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        AND AC.PAYMENT_TIME >= DATE_SUB(
        DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY),
        INTERVAL 3 MONTH)
        GROUP BY AC.COST_TYPE,
        AC.PAYMENT_TIME) T
        GROUP BY T.COST_TYPE, T.DATE_SIGN
        ORDER BY T.DATE_SIGN DESC, T.OUTLAY DESC
    </select>
    <select id="findSelectCostTypeList" resultType="com.freesia.account.po.AccountCostPo">
        SELECT DISTINCT AC.COST_TYPE
        FROM account_cost AC
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        </if>

        UNION

        SELECT DISTINCT AC.COST_TYPE
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND ACU.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        </if>
    </select>
</mapper>
