<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountBudgetMapper">
    <select id="findListBudget" resultType="com.freesia.account.po.AccountBudgetPo">
        SELECT
        ID,
        CREATOR,
        CREATE_TIME,
        MODIFIER,
        MODIFY_TIME,
        LOGIC_DEL,
        REC_VER,
        BUILD_IN,
        TENANT_ID,
        BUDGET_DESC,
        OUTLAY,
        DURATION_FROM,
        DURATION_TO,
        BUDGET_TYPE,
        USER_ID,
        STRATEGY_ID,
        REMARK
        FROM account_budget AB
        WHERE 1=1
        AND AB.LOGIC_DEL = 0
        <if test="accountBudgetDto.userId != null and accountBudgetDto.userId != 0">
            AND AB.USER_ID = #{accountBudgetDto.userId}
        </if>
    </select>
    <select id="findDayBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               CONCAT(CURDATE(), ' 00:00:00') AS DURATION_FROM,
               CONCAT(CURDATE(), ' 23:59:59') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND DATE(AC.PAYMENT_TIME) = CURDATE()
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               CONCAT(CURDATE(), ' 00:00:00') AS DURATION_FROM,
               CONCAT(CURDATE(), ' 23:59:59') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND DATE(AC.PAYMENT_TIME) = CURDATE()
        GROUP BY AC.ID
    </select>
    <select id="findWeekBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY)        AS OUTLAY,
               DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)                           AS DURATION_FROM,
               DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY) AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA
                           ON AC.ID = ACUA.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
            AND DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY)
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY)        AS OUTLAY,
               DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)                           AS DURATION_FROM,
               DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY) AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
            AND DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY)
        GROUP BY AC.ID
    </select>
    <select id="findMonthBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-%m-01')                                      AS DURATION_FROM,
               LAST_DAY(CURDATE())                                                     AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
        GROUP BY AC.ID

        UNION ALL

        SELECT ACUA.AMOUNT                        AS OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-%m-01') AS DURATION_FROM,
               LAST_DAY(CURDATE())                AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
        GROUP BY AC.ID
    </select>
    <select id="findYearBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-01-01') AS DURATION_FROM,
               DATE_FORMAT(CURDATE(), '%Y-12-31') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01') AND DATE_FORMAT(CURDATE(), '%Y-12-31')
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-01-01') AS DURATION_FROM,
               DATE_FORMAT(CURDATE(), '%Y-12-31') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01') AND DATE_FORMAT(CURDATE(), '%Y-12-31')
        GROUP BY AC.ID
    </select>
    <select id="findCustomBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN #{findBudgetCapacityDto.durationFrom} AND #{findBudgetCapacityDto.durationTo}
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT > 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_TIME BETWEEN #{findBudgetCapacityDto.durationFrom} AND #{findBudgetCapacityDto.durationTo}
        GROUP BY AC.ID
    </select>
</mapper>
