<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountReportStrategyMapper">
    <resultMap id="BaseResultMap" type="com.freesia.account.po.AccountReportStrategyPo">
        <id column="ID" property="id"/>
        <result column="CREATOR" property="creator"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFIER" property="modifier"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="LOGIC_DEL" property="logicDel"/>
        <result column="REC_VER" property="recVer"/>
        <result column="BUILD_IN" property="buildIn"/>
        <result column="TENANT_ID" property="tenantId"/>
        <result column="REMARK" property="remark"/>
        <result column="USER_ID" property="userId"/>
        <result column="BUDGET_ID" property="budgetId"/>
        <result column="BUDGET_TYPE" property="budgetType"/>
        <result column="GENERATE_TIME" property="generateTime"/>
        <result column="NEXT_GENERATE_TIME" property="nextGenerateTime"/>
        <result column="ENABLED" property="enabled"/>
        <result column="WEEK_BEGIN" property="weekBegin"/>
        <result column="RECALCULATE_FLAG" property="recalculateFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, CREATOR, CREATE_TIME, MODIFIER, MODIFY_TIME, LOGIC_DEL, REC_VER, BUILD_IN, TENANT_ID, REMARK, USER_ID, BUDGET_ID, BUDGET_TYPE, GENERATE_TIME, NEXT_GENERATE_TIME, ENABLED, WEEK_BEGIN, RECALCULATE_FLAG
    </sql>
    <select id="findPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ACCOUNT_REPORT_STRATEGY
        WHERE
        LOGIC_DEL = 0
        <if test="dto.remark != null and dto.remark != ''">
            AND REMARK = #{dto.remark}
        </if>
        <if test="dto.userId != null">
            AND USER_ID = #{dto.userId}
        </if>
        <if test="dto.budgetId != null">
            AND BUDGET_ID = #{dto.budgetId}
        </if>
        <if test="dto.budgetType != null and dto.budgetType != ''">
            AND BUDGET_TYPE = #{dto.budgetType}
        </if>
        <if test="dto.generateTime != null">
            AND GENERATE_TIME = #{dto.generateTime}
        </if>
        <if test="dto.nextGenerateTime != null">
            AND NEXT_GENERATE_TIME = #{dto.nextGenerateTime}
        </if>
        <if test="dto.enabled != null and dto.enabled != ''">
            AND ENABLED = #{dto.enabled}
        </if>
        <if test="dto.weekBegin != null">
            AND WEEK_BEGIN = #{dto.weekBegin}
        </if>
        <if test="dto.recalculateFlag != null and dto.recalculateFlag != ''">
            AND RECALCULATE_FLAG = #{dto.recalculateFlag}
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ACCOUNT_REPORT,ACCOUNT_REPORT_STRATEGY
        WHERE LOGIC_DEL = 0
        <if test="dto.remark != null and dto.remark != ''">
            AND REMARK = #{dto.remark}
        </if>
        <if test="dto.userId != null">
            AND USER_ID = #{dto.userId}
        </if>
        <if test="dto.budgetId != null">
            AND BUDGET_ID = #{dto.budgetId}
        </if>
        <if test="dto.budgetType != null and dto.budgetType != ''">
            AND BUDGET_TYPE = #{dto.budgetType}
        </if>
        <if test="dto.generateTime != null">
            AND GENERATE_TIME = #{dto.generateTime}
        </if>
        <if test="dto.nextGenerateTime != null">
            AND NEXT_GENERATE_TIME = #{dto.nextGenerateTime}
        </if>
        <if test="dto.enabled != null and dto.enabled != ''">
            AND ENABLED = #{dto.enabled}
        </if>
        <if test="dto.weekBegin != null">
            AND WEEK_BEGIN = #{dto.weekBegin}
        </if>
        <if test="dto.recalculateFlag != null and dto.recalculateFlag != ''">
            AND RECALCULATE_FLAG = #{dto.recalculateFlag}
        </if>
        ORDER BY MODIFY_TIME DESC
    </select>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ACCOUNT_REPORT_STRATEGY
        (
        ID,
        CREATOR,
        CREATE_TIME,
        MODIFIER,
        MODIFY_TIME,
        LOGIC_DEL,
        REC_VER,
        BUILD_IN,
        TENANT_ID,
        REMARK, 
        USER_ID, 
        BUDGET_ID, 
        BUDGET_TYPE, 
        GENERATE_TIME, 
        NEXT_GENERATE_TIME, 
        ENABLED, 
        WEEK_BEGIN, 
        RECALCULATE_FLAG
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.creator},
            #{item.createTime},
            #{item.modifier},
            #{item.modifyTime},
            #{item.logicDel},
            #{item.recVer},
            #{item.buildIn},
            #{item.tenantId},
            #{item.remark}, 
            #{item.userId}, 
            #{item.budgetId}, 
            #{item.budgetType}, 
            #{item.generateTime}, 
            #{item.nextGenerateTime}, 
            #{item.enabled}, 
            #{item.weekBegin}, 
            #{item.recalculateFlag}
            )
        </foreach>
    </insert>
</mapper>
