<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountCostMapper">
    <select id="findListAccountsExport" resultType="com.freesia.account.entity.AccountCostExportEntity">
        SELECT
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        SDV.VALUE_NAME AS PAYMENT_SIGN_NAME,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME_GROUPING_KEY
        FROM account_cost AC
        LEFT JOIN SYS_DICT_VALUE SDV
        ON SDV.DICT_KEY = 'PAYMENT_SIGN'
        WHERE 1=1
        AND AC.LOGIC_DEL = 0
        <if test="accountCostDto.tenantId != null and accountCostDto.tenantId != ''">
            AND AC.TENANT_ID = #{accountCostDto.tenantId}
        </if>
        <if test="accountCostDto.paymentTimeFrom != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        </if>
        <if test="accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[<=]]>  #{accountCostDto.paymentTimeTo}
        </if>
        GROUP BY AC.PAYMENT_TIME, AC.CREATE_TIME
        ORDER BY AC.PAYMENT_TIME DESC, AC.CREATE_TIME ASC
    </select>
    <sql id="findCostTypeRatePieRef">
        SELECT SDV.VALUE AS COST_TYPE,
               AC.OUTLAY AS OUTLAY
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
                 LEFT JOIN SYS_DICT_VALUE SDV ON SDV.DICT_KEY = 'ACCOUNT_COST_TYPE'
            AND SDV.VALUE_NAME = AC.COST_TYPE
    </sql>
    <select id="findCostTypeRatePie" resultType="com.freesia.account.entity.FindCostTypeRatePieEntity">
        SELECT
        T.COST_TYPE,
        SUM(T.OUTLAY) AS OUTLAY
        FROM
        (
        (
        <include refid="findCostTypeRatePieRef"/>
        WHERE 1=1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND AC.USER_ID = #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]>  #{accountCostDto.paymentTimeTo}
        </if>
        )

        UNION

        (
        <include refid="findCostTypeRatePieRef"/>
        WHERE 1=1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        <if test="accountCostDto.paymentTimeFrom != null and accountCostDto.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]>  #{accountCostDto.paymentTimeTo}
        </if>
        )
        ) T
        GROUP BY T.COST_TYPE

    </select>
    <sql id="findWeekCostLineChartRef">
        SELECT AC.OUTLAY                                                                  AS OUTLAY,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d')                                   AS PAYMENT_TIME,
               CONCAT(STR_TO_DATE(AC.PAYMENT_TIME, '%Y-%m-%d'), '(', SDV.VALUE_NAME, ')') AS X_AXIS
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
                 LEFT JOIN sys_dict_value SDV ON SDV.DICT_KEY = 'WEEK_DAY'
            AND SDV.VALUE = WEEKDAY(STR_TO_DATE(AC.PAYMENT_TIME, '%Y-%m-%d')) + 1
    </sql>
    <select id="findWeekCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        SELECT
        SUM(T.OUTLAY) AS OUTLAY,
        T.PAYMENT_TIME,
        T.X_AXIS
        FROM (
        (
        <include refid="findWeekCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND AC.USER_ID = #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        )

        UNION

        (
        <include refid="findWeekCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        )
        ) T
        GROUP BY DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d')
    </select>
    <sql id="findMonthCostLineChartRef">
        SELECT AC.OUTLAY                                AS OUTLAY,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS X_AXIS
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
    </sql>
    <select id="findMonthCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        SELECT
        SUM(T.OUTLAY) AS OUTLAY,
        T.PAYMENT_TIME,
        T.X_AXIS
        FROM
        (
        (
        <include refid="findMonthCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND AC.USER_ID = #{accountCostDto.userId}
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        AND MONTH(AC.PAYMENT_TIME) = #{accountCostDto.month}
        )

        UNION

        (
        <include refid="findMonthCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        AND MONTH(AC.PAYMENT_TIME) = #{accountCostDto.month}
        )
        ) T
        GROUP BY DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d')
    </select>
    <sql id="findYearCostLineChartRef">
        SELECT AC.OUTLAY                             AS OUTLAY,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m') AS PAYMENT_TIME,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m') AS X_AXIS
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
    </sql>
    <select id="findYearCostLineChart" resultType="com.freesia.account.entity.FindCostLineChartEntity">
        SELECT
        SUM(T.OUTLAY) AS OUTLAY,
        T.PAYMENT_TIME,
        T.X_AXIS
        FROM
        (
        (
        <include refid="findYearCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND AC.USER_ID = #{accountCostDto.userId}
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        )

        UNION

        (
        <include refid="findYearCostLineChartRef"/>
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.PAYMENT_SIGN = 'EXPENSES'
        AND ACU.USER_ID = #{accountCostDto.userId}
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND YEAR(AC.PAYMENT_TIME) = #{accountCostDto.year}
        )

        ) T
        GROUP BY DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m')
    </select>
    <sql id="findCostSumCalendarNearYearRef">
        SELECT AC.OUTLAY                                AS OUTLAY,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS PAYMENT_TIME,
               DATE_FORMAT(AC.PAYMENT_TIME, '%Y-%m-%d') AS X_AXIS
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
    </sql>
    <select id="findCostSumCalendarNearYear"
            resultType="com.freesia.account.entity.FindCostSumCalendarNearYearEntity">
        SELECT
        SUM(T.OUTLAY) AS OUTLAY,
        T.PAYMENT_TIME,
        T.X_AXIS
        FROM (
        (
        <include refid="findCostSumCalendarNearYearRef"/>
        WHERE 1 = 1
        AND AC.USER_ID = #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        )

        UNION

        (
        <include refid="findCostSumCalendarNearYearRef"/>
        WHERE 1 = 1
        AND AC.USER_ID <![CDATA[<>]]> #{accountCostDto.userId}
        AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCostDto.paymentTimeFrom}
        AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCostDto.paymentTimeTo}
        )
        ) T
        GROUP BY DATE_FORMAT(T.PAYMENT_TIME, '%Y-%m-%d')
    </select>
    <select id="findPageAccountCost" resultMap="findAccountCostResultMap">
        (
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        LEFT JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID = #{accountCost.userId}
        <if test="accountCost.costDesc != null and accountCost.costDesc != ''">
            AND AC.COST_DESC = #{accountCost.costDesc}
        </if>
        <if test="accountCost.remark != null and accountCost.remark != ''">
            AND AC.REMARK = #{accountCost.remark}
        </if>
        <if test="accountCost.paymentSign != null and accountCost.paymentSign != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTime != null and accountCost.paymentTime != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTimeFrom != null and accountCost.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCost.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCost.paymentTimeTo}
        </if>
        GROUP BY AC.ID
        )

        UNION

        (
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        INNER JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        <if test="accountCost.costDesc != null and accountCost.costDesc != ''">
            AND AC.COST_DESC = #{accountCost.costDesc}
        </if>
        <if test="accountCost.remark != null and accountCost.remark != ''">
            AND AC.REMARK = #{accountCost.remark}
        </if>
        <if test="accountCost.paymentSign != null and accountCost.paymentSign != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTime != null and accountCost.paymentTime != ''">
            AND AC.PAYMENT_SIGN = #{accountCost.paymentSign}
        </if>
        <if test="accountCost.paymentTimeFrom != null and accountCost.paymentTimeTo != null">
            AND AC.PAYMENT_TIME <![CDATA[>=]]> #{accountCost.paymentTimeFrom}
            AND AC.PAYMENT_TIME <![CDATA[<=]]> #{accountCost.paymentTimeTo}
        </if>
        GROUP BY AC.ID
        )
        ORDER BY PAYMENT_TIME DESC, MODIFY_TIME DESC
    </select>
    <select id="findAccountCost" resultMap="findAccountCostResultMap">
        (
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        LEFT JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID = #{accountCost.userId}
        <if test="accountCost.id != null and accountCost.id != 0">
            AND AC.ID = #{accountCost.id}
        </if>
        GROUP BY AC.ID
        )

        UNION

        (
        SELECT AC.ID,
        AC.CREATE_TIME,
        AC.MODIFY_TIME,
        AC.LOGIC_DEL,
        AC.REC_VER,
        AC.TENANT_ID,
        AC.COST_DESC,
        AC.OUTLAY,
        AC.COST_TYPE,
        AC.PAYMENT_SIGN,
        AC.PAYMENT_TIME,
        AC.ICON,
        AC.REMARK,
        AC.USER_ID,
        (SELECT NICK_NAME FROM SYS_USER WHERE ID = AC.USER_ID) AS AC_NICK_NAME,
        GROUP_CONCAT(SU.ID) AS SU_ID,
        GROUP_CONCAT(SU.NICK_NAME) AS NICK_NAME
        FROM account_cost AC
        LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        INNER JOIN sys_user SU ON ACU.USER_ID = SU.ID
        WHERE 1 = 1
        AND AC.LOGIC_DEL = 0
        AND AC.USER_ID <![CDATA[<>]]> #{accountCost.userId}
        <if test="accountCost.id != null and accountCost.id != 0">
            AND ACU.COST_ID = #{accountCost.id}
        </if>
        GROUP BY AC.ID
        )
    </select>
    <resultMap id="findAccountCostResultMap" type="com.freesia.account.entity.FindAccountCostEntity">
        <id property="id" column="ID"/>
        <result property="creator" column="CREATOR"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="logicDel" column="LOGIC_DEL"/>
        <result property="recVer" column="REC_VER"/>
        <result property="buildIn" column="BUILD_IN"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="costDesc" column="COST_DESC"/>
        <result property="outlay" column="OUTLAY"/>
        <result property="costType" column="COST_TYPE"/>
        <result property="paymentSign" column="PAYMENT_SIGN"/>
        <result property="paymentTime" column="PAYMENT_TIME"/>
        <result property="icon" column="ICON"/>
        <result property="remark" column="REMARK"/>
        <result property="userId" column="USER_ID"/>
        <result property="acNickName" column="AC_NICK_NAME"/>
        <result property="accountCostUserId" column="SU_ID"/>
        <result property="accountCostUserName" column="NICK_NAME"/>
    </resultMap>
    <select id="findDayBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT AC.OUTLAY,
               CONCAT(CURDATE(), ' 00:00:00') AS DURATION_FROM,
               CONCAT(CURDATE(), ' 23:59:59') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND DATE(AC.PAYMENT_TIME) = CURDATE()
        GROUP BY AC.ID

        UNION

        SELECT AC.OUTLAY,
               CONCAT(CURDATE(), ' 00:00:00') AS DURATION_FROM,
               CONCAT(CURDATE(), ' 23:59:59') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND DATE(AC.PAYMENT_TIME) = CURDATE()
        GROUP BY AC.ID
    </select>
    <select id="findWeekBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT AC.OUTLAY,
               DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)                           AS DURATION_FROM,
               DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY) AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU
                           ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
            AND DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY)
        GROUP BY AC.ID

        UNION

        SELECT AC.OUTLAY,
               DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)                           AS DURATION_FROM,
               DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY) AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
            AND DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 6 DAY)
        GROUP BY AC.ID
    </select>
    <select id="findMonthBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT AC.OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-%m-01') AS DURATION_FROM,
               LAST_DAY(CURDATE())                AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
        GROUP BY AC.ID

        UNION

        SELECT AC.OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-%m-01') AS DURATION_FROM,
               LAST_DAY(CURDATE())                AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
        GROUP BY AC.ID
    </select>
    <select id="findYearBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT AC.OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-01-01') AS DURATION_FROM,
               DATE_FORMAT(CURDATE(), '%Y-12-31') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01') AND DATE_FORMAT(CURDATE(), '%Y-12-31')
        GROUP BY AC.ID

        UNION

        SELECT AC.OUTLAY,
               DATE_FORMAT(CURDATE(), '%Y-01-01') AS DURATION_FROM,
               DATE_FORMAT(CURDATE(), '%Y-12-31') AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01') AND DATE_FORMAT(CURDATE(), '%Y-12-31')
        GROUP BY AC.ID
    </select>
    <select id="findCustomBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT AC.OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN #{findBudgetCapacityDto.durationFrom} AND #{findBudgetCapacityDto.durationTo}
        GROUP BY AC.ID

        UNION

        SELECT AC.OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user ACU ON AC.ID = ACU.COST_ID
        WHERE 1 = 1
          AND AC.LOGIC_DEL = 0
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          AND AC.PAYMENT_TIME BETWEEN #{findBudgetCapacityDto.durationFrom} AND #{findBudgetCapacityDto.durationTo}
        GROUP BY AC.ID
    </select>
</mapper>
