<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountBudgetMapper">
    <select id="findListBudget" resultType="com.freesia.account.dto.AccountBudgetDto">
        SELECT
        AB.ID,
        AB.CREATOR,
        AB.CREATE_TIME,
        AB.MODIFIER,
        AB.MODIFY_TIME,
        AB.LOGIC_DEL,
        AB.REC_VER,
        AB.BUILD_IN,
        AB.TENANT_ID,
        AB.BUDGET_DESC,
        AB.OUTLAY,
        AB.DURATION_FROM,
        AB.DURATION_TO,
        AB.BUDGET_TYPE,
        AB.USER_ID,
        AB.STRATEGY_ID,
        AB.REMARK,
        TENANT.NAME AS TENANT_NAME
        FROM account_budget AB
        LEFT JOIN sys_tenant TENANT ON AB.TENANT_ID = TENANT.ID
        WHERE AB.LOGIC_DEL = 0
        <if test="accountBudgetDto.tenantId != null and accountBudgetDto.tenantId != 0">
            AND AB.TENANT_ID = #{accountBudgetDto.tenantId}
        </if>
        <if test="accountBudgetDto.userId != null and accountBudgetDto.userId != 0">
            AND AB.USER_ID = #{accountBudgetDto.userId}
        </if>
    </select>
    <select id="findDayBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID
    </select>
    <select id="findWeekBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID
    </select>
    <select id="findMonthBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID
    </select>
    <select id="findYearBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID
    </select>
    <select id="findCustomBudgetCapacity" resultType="com.freesia.account.entity.FindBudgetCapacityEntity">
        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID

        UNION ALL

        SELECT IF(ACUA.AMOUNT IS NOT NULL AND ACUA.AMOUNT >= 0, ACUA.AMOUNT, AC.OUTLAY) AS OUTLAY,
               #{findBudgetCapacityDto.durationFrom} AS DURATION_FROM,
               #{findBudgetCapacityDto.durationTo}   AS DURATION_TO
        FROM account_cost AC
                 LEFT JOIN account_cost_user_alloc ACUA ON ACUA.COST_ID = AC.ID AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}

        WHERE AC.LOGIC_DEL = 0
          AND AC.PAYMENT_SIGN = 'EXPENSES'
          <if test="findBudgetCapacityDto.tenantId != null">
              AND AC.TENANT_ID = #{findBudgetCapacityDto.tenantId}
          </if>
          AND AC.USER_ID <![CDATA[<>]]> #{findBudgetCapacityDto.userId}
          AND ACUA.USER_ID = #{findBudgetCapacityDto.userId}
          <if test="findBudgetCapacityDto.durationFrom != null and findBudgetCapacityDto.durationTo != null">
              AND AC.PAYMENT_TIME <![CDATA[>=]]> #{findBudgetCapacityDto.durationFrom}
              AND AC.PAYMENT_TIME <![CDATA[<=]]> #{findBudgetCapacityDto.durationTo}
          </if>
        GROUP BY AC.ID
    </select>
</mapper>
