<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.account.mapper.AccountCostUserAllocMapper">
    <select id="findListAllocByCostId" resultType="com.freesia.account.dto.FindListSysUserByIdDto">
        SELECT acua.ID,
               acua.LOGIC_DEL,
               acua.REC_VER,
               acua.TENANT_ID,
               acua.COST_ID,
               acua.USER_ID,
               acua.AMOUNT,
               acua.OPERATE_TIME,
               acua.ALLOC_FLAG,
               su.USER_NAME,
               su.NICK_NAME
        FROM account_cost_user_alloc acua
                 LEFT JOIN sys_user su on acua.USER_ID = SU.ID
        WHERE 1 = 1
          AND acua.LOGIC_DEL = 0
          AND acua.COST_ID = #{dto.costId}
        ORDER BY acua.ID
    </select>
    <select id="findCollected" resultType="com.freesia.account.dto.RpFindAllocAmountDto$Alloc">
        SELECT
        COLLECTED.ID,
        COLLECTED.USER_ID,
        COLLECTED.AMOUNT,
        U.NICK_NAME,
        AC.PAYMENT_TIME,
        AC.COST_DESC,
        AC.REMARK
        FROM
        account_cost_user_alloc COLLECTED
        LEFT JOIN SYS_USER U ON U.ID = COLLECTED.USER_ID
        AND COLLECTED.ALLOC_FLAG = 0
        LEFT JOIN ACCOUNT_COST AC ON AC.ID = COLLECTED.COST_ID
        WHERE
        COLLECTED.LOGIC_DEL = 0
        AND COLLECTED.ALLOC_FLAG = 0
        AND AC.USER_ID = #{userId}
        ORDER BY AC.PAYMENT_TIME DESC
    </select>
    <select id="findAllocated" resultType="com.freesia.account.dto.RpFindAllocAmountDto$Alloc">
        SELECT ALLOCATED.ID,
               ALLOCATED.USER_ID,
               ALLOCATED.AMOUNT,
               AC.USER_ID AS PAYEE_USER_ID,
               U.NICK_NAME AS PAYEE_NICK_NAME,
               AC.PAYMENT_TIME,
               AC.COST_DESC,
               AC.REMARK
        FROM account_cost_user_alloc ALLOCATED
                 LEFT JOIN ACCOUNT_COST AC ON AC.ID = ALLOCATED.COST_ID
                 LEFT JOIN SYS_USER U ON U.ID = AC.USER_ID
        where ALLOCATED.LOGIC_DEL = 0
          AND ALLOCATED.ALLOC_FLAG = 0
          AND ALLOCATED.USER_ID = #{userId}
        ORDER BY AC.PAYMENT_TIME DESC
    </select>
</mapper>
