<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.mapper.SysColumnHeaderMapper">
    <resultMap id="BaseResultMap" type="com.freesia.po.SysColumnHeaderPo">
        <id column="ID" property="id"/>
        <result column="CREATOR" property="creator"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFIER" property="modifier"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="LOGIC_DEL" property="logicDel"/>
        <result column="REC_VER" property="recVer"/>
        <result column="BUILD_IN" property="buildIn"/>
        <result column="TENANT_ID" property="tenantId"/>
        <result column="COMPONENT_ID" property="componentId"/>
        <result column="NAME" property="name"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="HEIGHT" property="height"/>
        <result column="MAX_HEIGHT" property="maxHeight"/>
        <result column="INIT_PAGE_SIZE" property="initPageSize"/>
        <result column="ENABLED" property="enabled"/>
        <result column="RESIZE_FLAG" property="resizeFlag"/>
        <result column="AUTO_COLS_WIDTH_FLAG" property="autoColsWidthFlag"/>
        <result column="DEFAULT_TOOL_BAR_FLAG" property="defaultToolBarFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, CREATOR, CREATE_TIME, MODIFIER, MODIFY_TIME, LOGIC_DEL, REC_VER, BUILD_IN, TENANT_ID, COMPONENT_ID, NAME, DESCRIPTION, HEIGHT, MAX_HEIGHT, INIT_PAGE_SIZE, ENABLED, RESIZE_FLAG, AUTO_COLS_WIDTH_FLAG, DEFAULT_TOOL_BAR_FLAG
    </sql>
    <select id="findPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_COLUMN_HEADER
        WHERE
        LOGIC_DEL = 0
        <if test="dto.componentId != null and dto.componentId != ''">
            AND COMPONENT_ID = #{dto.componentId}
        </if>
        <if test="dto.name != null and dto.name != ''">
            AND NAME = #{dto.name}
        </if>
        <if test="dto.description != null and dto.description != ''">
            AND DESCRIPTION = #{dto.description}
        </if>
        <if test="dto.height != null">
            AND HEIGHT = #{dto.height}
        </if>
        <if test="dto.maxHeight != null">
            AND MAX_HEIGHT = #{dto.maxHeight}
        </if>
        <if test="dto.initPageSize != null">
            AND INIT_PAGE_SIZE = #{dto.initPageSize}
        </if>
        <if test="dto.enabled != null and dto.enabled != ''">
            AND ENABLED = #{dto.enabled}
        </if>
        <if test="dto.resizeFlag != null and dto.resizeFlag != ''">
            AND RESIZE_FLAG = #{dto.resizeFlag}
        </if>
        <if test="dto.autoColsWidthFlag != null and dto.autoColsWidthFlag != ''">
            AND AUTO_COLS_WIDTH_FLAG = #{dto.autoColsWidthFlag}
        </if>
        <if test="dto.defaultToolBarFlag != null and dto.defaultToolBarFlag != ''">
            AND DEFAULT_TOOL_BAR_FLAG = #{dto.defaultToolBarFlag}
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_COLUMN_HEADER
        WHERE LOGIC_DEL = 0
        <if test="dto.componentId != null and dto.componentId != ''">
            AND COMPONENT_ID = #{dto.componentId}
        </if>
        <if test="dto.name != null and dto.name != ''">
            AND NAME = #{dto.name}
        </if>
        <if test="dto.description != null and dto.description != ''">
            AND DESCRIPTION = #{dto.description}
        </if>
        <if test="dto.height != null">
            AND HEIGHT = #{dto.height}
        </if>
        <if test="dto.maxHeight != null">
            AND MAX_HEIGHT = #{dto.maxHeight}
        </if>
        <if test="dto.initPageSize != null">
            AND INIT_PAGE_SIZE = #{dto.initPageSize}
        </if>
        <if test="dto.enabled != null and dto.enabled != ''">
            AND ENABLED = #{dto.enabled}
        </if>
        <if test="dto.resizeFlag != null and dto.resizeFlag != ''">
            AND RESIZE_FLAG = #{dto.resizeFlag}
        </if>
        <if test="dto.autoColsWidthFlag != null and dto.autoColsWidthFlag != ''">
            AND AUTO_COLS_WIDTH_FLAG = #{dto.autoColsWidthFlag}
        </if>
        <if test="dto.defaultToolBarFlag != null and dto.defaultToolBarFlag != ''">
            AND DEFAULT_TOOL_BAR_FLAG = #{dto.defaultToolBarFlag}
        </if>
        ORDER BY MODIFY_TIME DESC
    </select>
    <select id="findOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_COLUMN_HEADER
        WHERE LOGIC_DEL = 0
        <if test="dto.componentId != null and dto.componentId != ''">
            AND COMPONENT_ID = #{dto.componentId}
        </if>
        <if test="dto.name != null and dto.name != ''">
            AND NAME = #{dto.name}
        </if>
        <if test="dto.description != null and dto.description != ''">
            AND DESCRIPTION = #{dto.description}
        </if>
        <if test="dto.height != null">
            AND HEIGHT = #{dto.height}
        </if>
        <if test="dto.maxHeight != null">
            AND MAX_HEIGHT = #{dto.maxHeight}
        </if>
        <if test="dto.initPageSize != null">
            AND INIT_PAGE_SIZE = #{dto.initPageSize}
        </if>
        <if test="dto.enabled != null and dto.enabled != ''">
            AND ENABLED = #{dto.enabled}
        </if>
        <if test="dto.resizeFlag != null and dto.resizeFlag != ''">
            AND RESIZE_FLAG = #{dto.resizeFlag}
        </if>
        <if test="dto.autoColsWidthFlag != null and dto.autoColsWidthFlag != ''">
            AND AUTO_COLS_WIDTH_FLAG = #{dto.autoColsWidthFlag}
        </if>
        <if test="dto.defaultToolBarFlag != null and dto.defaultToolBarFlag != ''">
            AND DEFAULT_TOOL_BAR_FLAG = #{dto.defaultToolBarFlag}
        </if>
        LIMIT 1
    </select>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SYS_COLUMN_HEADER
        (
        ID,
        CREATOR,
        CREATE_TIME,
        MODIFIER,
        MODIFY_TIME,
        LOGIC_DEL,
        REC_VER,
        BUILD_IN,
        TENANT_ID,
        COMPONENT_ID, 
        NAME, 
        DESCRIPTION, 
        HEIGHT, 
        MAX_HEIGHT, 
        INIT_PAGE_SIZE, 
        ENABLED, 
        RESIZE_FLAG, 
        AUTO_COLS_WIDTH_FLAG, 
        DEFAULT_TOOL_BAR_FLAG
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.creator},
            #{item.createTime},
            #{item.modifier},
            #{item.modifyTime},
            #{item.logicDel},
            #{item.recVer},
            #{item.buildIn},
            #{item.tenantId},
            #{item.componentId}, 
            #{item.name}, 
            #{item.description}, 
            #{item.height}, 
            #{item.maxHeight}, 
            #{item.initPageSize}, 
            #{item.enabled}, 
            #{item.resizeFlag}, 
            #{item.autoColsWidthFlag}, 
            #{item.defaultToolBarFlag}
            )
        </foreach>
    </insert>
</mapper>
