<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.mapper.SysDictValueMapper">
    <sql id="sysDictValueAllColumnRef">
        SELECT SDV.ID,
               SDV.CREATOR,
               SDV.CREATE_TIME,
               SDV.MODIFIER,
               SDV.MODIFY_TIME,
               SDV.LOGIC_DEL,
               SDV.REC_VER,
               SDV.BUILD_IN,
               SDV.TENANT_ID,
               SDV.KEY_ID,
               SDV.DICT_KEY,
               SDV.VALUE_NAME,
               SDV.VALUE,
               SDV.ORDER_NUM,
               SDV.IS_DEFAULT,
               SDV.I18N,
               SDV.CSS_STYLE,
               SDV.STATUS,
               SDV.REMARK
        FROM sys_dict_value SDV
    </sql>
    <sql id="findSysDictValueRef">
        SELECT DV.ID,
               DV.REC_VER,
               DV.CREATE_TIME,
               DV.DICT_KEY,
               DV.VALUE_NAME,
               DV.VALUE,
               DV.ORDER_NUM,
               DV.IS_DEFAULT,
               DV.I18N,
               DV.CSS_STYLE,
               DV.STATUS,
               DV.REMARK

        FROM sys_dict_key DK
                 LEFT JOIN sys_dict_value DV ON DK.ID = DV.KEY_ID
    </sql>
    <select id="findPageSysDictValue" resultType="com.freesia.po.SysDictValuePo">
        <include refid="findSysDictValueRef"/>
        ${ew.getCustomSqlSegment}
    </select>
    <select id="findSysDictValueList" resultType="com.freesia.po.SysDictValuePo">
        <include refid="findSysDictValueRef"/>
        ${ew.getCustomSqlSegment}
    </select>
    <select id="findDistinctDictValueNameList" resultType="com.freesia.po.SysDictValuePo">
        SELECT
        ID,
        CREATOR,
        CREATE_TIME,
        MODIFIER,
        MODIFY_TIME,
        LOGIC_DEL,
        REC_VER,
        BUILD_IN,
        TENANT_ID,
        KEY_ID,
        DICT_KEY,
        VALUE_NAME,
        VALUE,
        ORDER_NUM,
        IS_DEFAULT,
        I18N,
        CSS_STYLE,
        STATUS,
        REMARK
        FROM sys_dict_value DV
        WHERE 1=1
        AND LOGIC_DEL = 0
        AND DICT_KEY = #{dictKey}
        AND KEY_ID = #{keyId}
        <foreach collection="distinctDictValueNameList" item="dictValueName" open="AND VALUE_NAME IN (" close=")"
                 separator=",">
            #{dictValueName}
        </foreach>

    </select>
    <select id="findMaxOrderNumByKeyId" resultType="java.lang.Integer">
        SELECT MAX(ORDER_NUM)
        FROM sys_dict_value SDV
        WHERE 1 = 1
          AND SDV.LOGIC_DEL = 0
          AND SDV.KEY_ID = #{keyId}
        GROUP BY SDV.KEY_ID
    </select>
    <select id="findDefaultFlagByKeyId" resultType="com.freesia.po.SysDictValuePo">
        <include refid="sysDictValueAllColumnRef"/>
        WHERE 1=1
        AND SDV.LOGIC_DEL = 0
        AND SDV.KEY_ID = #{keyId}
        AND SDV.IS_DEFAULT = 1
    </select>
</mapper>
