<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.mapper.SysDeptMapper">
    <select id="findPageSysDeptList" resultType="com.freesia.entity.FindPageSysDeptListEntity">
        <include refid="sysDept"/>
        ${ew.getCustomSqlSegment}
    </select>
    <select id="findTreeDeptSelect" resultType="com.freesia.entity.FindTreeDeptSelectEntity">
        SELECT D.ID,
               D.REC_VER,
               D.PARENT_ID,
               D.DEPT_NAME AS TITLE
        FROM sys_dept D
            ${ew.getCustomSqlSegment}
    </select>
    <select id="findMaxOrderNum" resultType="java.lang.Long">
        SELECT MAX(D.ORDER_NUM)
        FROM SYS_DEPT D
        WHERE D.PARENT_ID = #{parentId}
    </select>

    <sql id="sysDept">
        select DISTINCT D.ID,
               D.CREATOR,
               D.MODIFIER,
               D.LOGIC_DEL,
               D.REC_VER,
               D.PARENT_ID,
               D.ANCESTORS,
               D.DEPT_NAME,
               D.ORDER_NUM,
               D.LEADER,
               D.TEL_NO,
               D.EMAIL,
               D.DEPT_STATUS,
               D.REMARK,
               D.REC_VER
        from sys_dept D
                 left join sys_user U on
            U.DEPT_ID = D.ID
    </sql>
</mapper>
