<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freesia.icon.mapper.CommonIconTemplateDetailMapper">
    <sql id="columns">
        SELECT CITD.id,
               CITD.creator,
               CITD.create_time,
               CITD.modifier,
               CITD.modify_time,
               CITD.logic_del,
               CITD.rec_ver,
               CITD.build_in,
               CITD.tenant_id,
               CITD.header_id,
               CITD.name,
               CITD.`grouping`,
               CITD.order_num,
               CITD.remark,
               CITD.icon_tree_type,
               CITD.ICON_ID
        FROM COMMON_ICON_TEMPLATE_DETAIL CITD
    </sql>
    <select id="findCommonIconTemplateDetail"
            resultType="com.freesia.icon.entity.FindCommonIconTemplateDetailEntity">
        <include refid="columns"/>
        WHERE 1 = 1
        <if test="dto.id != null and dto.id != 0">
            AND CITD.ID = #{dto.id}
        </if>
        <if test="dto.name != null and dto.name != ''">
            AND CITD.`NAME` = #{dto.name}
        </if>
        <if test="dto.grouping != null and dto.grouping != ''">
            AND CITD.`GROUPING` = #{dto.grouping}
        </if>
        <if test="dto.iconTreeType != null and dto.iconTreeType != ''">
            AND CITD.ICON_TREE_TYPE = #{dto.iconTreeType}
        </if>
    </select>
    <select id="findTreeIconTreeType" resultType="com.freesia.icon.entity.FindTreeIconTreeTypeEntity">
        SELECT CITD.id,
        CITD.rec_ver,
        CITD.header_id,
        CITD.header_id AS PARENT_ID,
        CITD.name,
        CITD.`grouping`,
        CITD.order_num,
        CITD.remark,
        CITD.icon_tree_type,
        CITD.ICON_ID,
        CITD.PARENT_ID
        FROM COMMON_ICON_TEMPLATE_DETAIL CITD
        WHERE 1 = 1
        <if test="dto.id != null and dto.id != 0">
            AND CITD.ID = #{dto.id}
        </if>
        <if test="dto.name != null and dto.name != ''">
            AND CITD.`NAME` = #{dto.name}
        </if>
        <if test="dto.grouping != null and dto.grouping != ''">
            AND CITD.`GROUPING` = #{dto.grouping}
        </if>
        <if test="dto.iconTreeType != null and dto.iconTreeType != ''">
            AND CITD.ICON_TREE_TYPE = #{dto.iconTreeType}
        </if>
    </select>
    <select id="findMaxOrderNum" resultType="java.lang.Integer">
        SELECT MAX(ORDER_NUM)
        FROM common_icon_template_detail citd
        where 1 = 1
        AND CITD.LOGIC_DEL = 0
        AND CITD.HEADER_ID = #{dto.headerId}
        AND CITD.ICON_TREE_TYPE = #{dto.iconTreeType}
        <if test="dto.grouping != null and dto.grouping != ''">
            AND CITD.`GROUPING` = #{dto.grouping}
        </if>
        <if test="dto.parentId != null and dto.parentId != 0">
            AND CITD.PARENT_ID = #{dto.parentId}
        </if>

    </select>
    <select id="findGrouping" resultType="java.util.Map">
        SELECT CITD.NAME AS label,
               CITD.ID   AS `value`
        FROM common_icon_template_detail CITD
        WHERE 1 = 1
          AND CITD.LOGIC_DEL = 0
          AND CITD.HEADER_ID = #{dto.headerId}
          AND CITD.ICON_TREE_TYPE = 'R'
        ORDER BY CITD.ORDER_NUM
    </select>
    <select id="findCustomIconTemplateDetail" resultType="com.freesia.icon.entity.FindTreeIconTreeTypeEntity">
        SELECT DISTINCT CITD.ID,
                        CITD.REC_VER,
                        CITD.LOGIC_DEL,
                        CITD.HEADER_ID,
                        CITD.NAME,
                        CITD.`GROUPING`,
                        CITD.ORDER_NUM,
                        CITD.REMARK,
                        CITD.ICON_TREE_TYPE,
                        CITD.ICON_ID,
                        CITD.PARENT_ID,
                        SO.URL
        FROM common_icon_template_detail CITD
                 LEFT JOIN common_icon CI ON CITD.ICON_ID = CI.ID
                 LEFT JOIN SYS_OSS SO ON CI.FILE_ID = SO.ID
        WHERE 1 = 1
          AND CITD.LOGIC_DEL = 0
          AND CITD.HEADER_ID = #{dto.headerId}
        ORDER BY CITD.ORDER_NUM
    </select>
</mapper>
